section {
    border-radius: 2rem;
}

section#heading {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
    
    padding: 5rem;
}

img.heading-gif {
    width: 70vw;
    border-radius: 10rem;
}

div.glass-container {
    padding: 2rem;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(50px);
    border-radius: 30px;
}

div.glass-container-left {
    position: absolute;

    top: 15vh;
    left: 10vw;
}

div.glass-container-right {
    position: absolute;

    bottom: 15vh;
    right: 10vw;
}

section#products {
    margin: 5vh 5vw;
}

div.container {
    padding: 1rem;
    border-radius: 2rem;

    background-color: var(--background-extend);
}

div.heading {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

div.button-group {
    height: 70px;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
}

input.find {
    width: 30vw;
    height: 3rem;

    margin: 0;
    border: 0;
    border-radius: 1rem;
    padding: 0.4rem 1rem;

    background-color: var(--background-input);
}

input.find:active {
    border: 0;
}

div.item-list {
    margin-top: 4rem;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

section#google-maps {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: space-around;
    
    padding: 5rem;
    margin: 20vh 5vw;
    background-color: var(--background-extend);
}

section#google-maps > .container {
    width: 80vw;
    height: 60vh;

    border-radius: 1rem;
}