:root {
    --accent: #FF28D0;
    
    --error: rgba(255, 0, 0, 0.75);
}

/* Background colors */
:root {
    --background: #121212;
    --background-extend: #242424;
    --background-accent: #8D163A;
    --background-accent-extend: #638E08;

    --background-input: #131313;
    --background-line: #444444;
}

/* Text colors */
:root {
    --text: #FFFFFF;
    --text-extend: #121212;
    --text-accent: #8D163A;
    --text-accent-extend: #638E08;
}

/* Select colors */
:root {
    --selection: rgba(141, 22, 58, 0.5);;
}